In [4]:
name,no,age="python",36,24.5
print(type(name),type(no),type(age))

<class 'str'> <class 'int'> <class 'float'>

###### The advantage of above procedure is "swapping"

In [1]:
a,b=10,20
print("before swapping")
print(a)
print(b)
print("after swapping")
a,b=b,a
print(a)
print(b)

before swapping
10
20
after swapping
20
10

## operators

- // ---> to find the float value
- ** ---> to find the power value    (or)  ---> using pow function function

In [10]:
2**5

32

In [11]:
2//5

0

In [12]:
5//2

2

In [13]:
2/5

0.4

- Two new operators in python 
- Membership operators are 
    - in
    - not in

In [3]:
# Example for membership operators:
5 in [1,2,3,4]

False

In [4]:
5 not in [1,2,3,4]

True

In [9]:
# Identity operators:

5 is 5

True

In [6]:
5 is 10

False

In [12]:
"abc" is "abc"
# but these are not used in programming in scripting mode .......
#It will consider id of string ...
#i.e.., only used for numbers not for strings

True

##### Conditional control statements:  It will control program execution
- if 
- if else
- elif: Want to more than one execute condition
- insted of swith case we use dictionaries in python
- do while is not existed in python
- for loop: 
- While loop
    - while (condition true then exit so we try to fail the loop to execute a program)

In [17]:
if ( 5 < 6):
    print("true")
else:
    print("false")

true

In [18]:
if ( 5 < 6):
    print("true")
elif(6<7):
    print("true")
else:
    print("false")

true

In [23]:
# range(10)
range(2,10,2)

range(2, 10, 2)

In [27]:
#for x(variable name) in range(generate one list)(2(sataring number),10(range i.e.., end with this number),2(betwwen gap)):
for x in range(2,10,2):
    print(x)

2
4
6
8

In [32]:
for x in range(2,10,2):
    print(x,end=",")  # i.e.., , will placed between every number

2,4,6,8,

In [1]:
# while loop
num= 1
while num<6:
    print(num)
    num+=1 # or num=num+1

1
2
3
4
5

In [3]:
# for loop
for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
# for loop
for i in 1,2,3:   # it will stored like a tuple but it is impossible for big numbers thats why we use range
    print(i)

1
2
3

In [7]:
for i in range(10,4,-1):
    print(i)

10
9
8
7
6
5

In [11]:
for i in 1:
    print(i)  # because here we use a interger ...because can store only one value...

TypeError: 'int' object is not iterable

In [16]:
for i in "haiiiiii":
    print(i)

h
a
i
i
i
i
i
i

In [18]:
list(range(5,10))  # the range of values will arrange the values in the list format

[5, 6, 7, 8, 9]

In [19]:
tuple(range(5,10))# the range of values will arrange the values in the tuple format

(5, 6, 7, 8, 9)

In [23]:
print(1,2) # we have "sep" perameter i.e.., by default it take on a space..
print(1,2,sep=",") # we have , in place in space 
print(1,2,sep="*")
print(3,sep=";")# here we have 
print(1,2,sep=",",end="*")

1 2
1,2
1*2
3
1,2*

In [25]:
print(1,2,sep=",",end="*")# we have only two arguments so print 1,2
print(3,sep=";") # end have ; that is only print that value

1,2*3

In [28]:
input("enter value:") # the output will be in string because default it stores in string

enter value:69

'69'

In [31]:
n=input("enter value:")
print(n)
type(n)

enter value:5.6
5.6

str

In [32]:
n=input("enter value:")
print(n,type(n))

enter value:5.9
5.9 <class 'str'>

In [33]:
1+2

3

In [36]:
1+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
1+int("2") # type conversion

3

In [39]:
num=10
print(num)
print(Num)

10

NameError: name 'Num' is not defined

In [1]:
mylist=[1,10,20]
mylist[2]

20

In [43]:
l=[1,10,20]
l[4]# it cames type error because there is no 4th element

IndexError: list index out of range

In [52]:
#  Task1: 
# 4 5 2 6 7 8 ->6(no of digits)
# 4 5         -> 2
#45            ->1


n =(input)
# for i in range(n):
#     print(n)
for x in range(n):
    print(x,end=" ")

TypeError: 'method' object cannot be interpreted as an integer

In [64]:
n =int(input()) # 1 3 5 7 8
# for i in range(n):
#     print(n)
for x in range(1,n+1):
    print(x,end=" ")

9
1 2 3 4 5 6 7 8 9

In [69]:
data=input()  # 1 3 5 7 8
count=0
for i in data.split(" "):
    count+=1
print(count)

7 8 9 4 5 7 3 8
9

In [70]:
data=input()# "1 2 5 7 8"
len(data)

1 5 7 8 9

9

In [73]:
data=input()# "1 2 5 7 8"
len(data.split())   # if we didnt want to count space we use split

9 6 4 3 2 1

6

In [77]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [79]:
# SUM OF DIGITS:

data=input() # 1,3,5 
values=data.split(",") #['1','3','5']
s=0
for value in values:
    s+=int(value)
print(s)

1 3 5

ValueError: invalid literal for int() with base 10: '1 3 5'

In [84]:
# sum of values

data=input()
values=data.split(",") # ['1','2','3']
#map syntax is map(method_name,List_of_values)
int_values=list(map(int,values))
sum(int_values)     


# del sum: To delete sum method what is used in previous
# type error 'int ' object is not callable to type above method

1,2,3

6

In [ ]:
#Another way using map(this is used to convert all the list values into integer at a time)

data

In [ ]:
#Task-2:

# 1+2+15+63+3
#i/p:min
#i/p:max


data=input()  # 1 3 5 7 8
count=0
for i in data.split("+"):
    count+=1
max(count)
print(count)
min(count)
print(count)
    
    
#     print(max(count))
#     print(min(count))
# print(count)

In [ ]:
# Task 3:
#no of test cases:  3
# tc:3 
# 4+5          o/p  : min 4\n max 5
# 5+77+0       op/ : min 0\n max 77
# 5+7          o/p : min 5\n max 7